// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

h1 {
  font-size: 50px;
}

h2 {
  color: red;
}

.container {
  text-align: center;
  margin-right: 200px;
  color: orange !important;
}
